In [1]:
import pandas as pd

In [6]:
dataFrame = pd.read_excel("python1.xlsx")

In [7]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0   Yazılım
1       Gaye   150  50.0      Satış
2     Zeynep   200  30.0        NaN
3      Hasan    50  10.0  Pazarlama
4      Hakan   150   NaN     Finans
5      Hilal   200  25.0      Hukuk

In [9]:
doluDataFrame = dataFrame.dropna()

In [10]:
doluDataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0   Yazılım
1       Gaye   150  50.0      Satış
3      Hasan    50  10.0  Pazarlama
5      Hilal   200  25.0      Hukuk

In [12]:
doluDataFrame.to_excel("yeniPython1.xlsx")

In [13]:
## read_csv
## to_csv